h1{
  font-size:3em;
  font-weight: bold;
  font-family: cursive;
  text-align: center;
}
h2{
  
  color: red;
}
p{
  text-align: justify;
  font-weight: bold;
  font-family: inherit;
}

.portada{

  padding-left: 250px;
  padding-right: 250px;
  padding-top: 150px;
}
.news{
  padding-left: 75px;
  padding-right: 75px;
  padding-top: 75px;
}
